@charset "UTF-8";

@import "lib/lesshat.less";

@import "lib/breakpoints.less";
@import "lib/colors.less";
@import "lib/fonts.less";

#monthwidget {

    caption {
        background-color: mix(@ui09, @page-background, 95%);
        color: #fff;
    
        a {
            color:#fff;
        }
    }

    td, th {
        text-align:center;
        text-transform:uppercase;
    }
}

.band-nav {
    ul {
        li {
            display:inline;
        }
    }

    .wdn-inner-wrapper {
        border-bottom: 1px solid darken(@page-background, 20%);
    }

}

.band-results {
    h4 {
        margin:0 0 1rem;
    }
}

h4 {
    background-color: mix(@ui09, @page-background, 95%);
    color: #fff;

    a {
        color:#fff;
    }
}

#search_help {
    display:none;
}
