@charset "UTF-8";

@import "lib/lesshat.less";

@import "lib/breakpoints.less";
@import "lib/colors.less";
@import "lib/fonts.less";

#monthwidget {

    caption {
        background-color: mix(@ui09, @page-background, 95%);
        color: #fff;
    
        a {
            color:#fff;
        }
    }

    td, th {
        text-align:center;
        text-transform:uppercase;
    }
}

#maincontent {

.band-nav {

    ul {
        li {
            display:inline;
        }
    }

    .wdn-inner-wrapper {
        border-bottom: 1px solid darken(@page-background, 20%);
        padding-top:1rem;
        padding-bottom:0.5rem;
    }

    #frontend_login {
        float:left;
    }


    #event_search {
        margin:0;
        padding:0;
        float:right;
        width:45%;


        input, button {
            font-size:0.75rem;
        }

    }
}

.band-results {

    .wdn-inner-wrapper {
        padding-top:1rem;
    }

    h4 {
        margin:0 0 1rem;
    }
}

h4 {
    background-color: mix(@ui09, @page-background, 95%);
    color: #fff;

    a {
        color:#fff;
    }
}

#search_help {
    display:none;
}

}