@charset "UTF-8";

@import "lib/lesshat.less";

@import "lib/breakpoints.less";
@import "lib/colors.less";
@import "lib/fonts.less";

@import "eventicon-embedded.less";

.wp-calendar {

    caption {
        margin: 0;
        padding: 1.069em 1em 1em;
        .sans-serif-font();
        font-size: 12px;
        font-size: 0.923rem;
        text-transform: uppercase;
        color: #fff;
        background-color: @ui09;

        @media @bp2 {
            font-size: 13px;
            font-size: 0.802rem;
        }

        a {
            color:#fff;
        }

        > :first-child {
            float: left;
        }
        > :last-child {
            float: right;
        }
    }

    th {
        text-transform: uppercase;
        background-color: #eee;
        width: 14%;
    }

    td, th {
        .sans-serif-font();
        font-size: 12px;
        font-size: 0.923rem;
        text-align: center;
        border: 1px solid darken(#fff, 20%);

        @media @bp2 {
            font-size: 0.75rem;
        }
    }

    td {
        background-color:#fff;
        /* Previous or next month */
        &.prev, &.prev a, &.next, &.next a {
            font-size: 9px;
            font-size: 0.6923rem;

            @media @bp2 {
                font-size: 0.563rem;
            }
        }
    }
}

.monthwidget {
    th {
        padding: 1.069em 1px 1em;
    }

    td {
        padding: 0;

        span,
        a {
            display: block;
            padding: 8px 1px;
        }

        // day selection classes
        &.active {
            background: @ui09;
            color: #fff;
            a {
                color: inherit;
            }
        }

        &.today {
            background: @brand;
            color: #fff;
            a {
                color: inherit;
            }
        }

        a:hover {
            outline: 2px solid @brand;
        }

        &.prev, &.next{
            a {
                padding: 11px 1px;
                background-color: #f7f7f7;
            }
        }
    }
}

.return-today {
    .sans-serif-font();
    font-size: 12px;
    font-size: 0.75rem;

    @media @bp2 {
        font-size: 13px;
        font-size: 0.802rem;
    }

    &:before {
        color: @ui05;
        margin-right: 0.451em;
    }

    .wdn-main p a& { // Needed to make the selector more specific
        border-bottom: 0;
    }
}

#month_viewcal {
    .wp-calendar {

        @media @under-bp2 {
            //border: 0;
        }
    }

    table {
        line-height: 1.425;
    }

    th {
        padding: 1.069em 1px 1em;
    }

    td {
        text-align: left;
        vertical-align: top;
        padding: 1em;
        font-size: 9px;
        font-size: 0.6923rem;

        @media @under-bp2 {
            border-top: 0;
            border-right: 0;
            border-left: 0;
        }

        @media @bp2 {
            font-size: 10px;
            font-size: 0.602rem;
        }

        li {
            margin-bottom: 0.75em;
        }

        &.prev, &.next {
            display: none;

            @media @bp2 {
                display: table-cell;
            }
        }

        a {
            text-decoration: none;
            border-bottom: none;
        }

        > a {
            font-size: 13px;
            font-size: 0.802rem;
        }

        ul {
            padding:0;
            li {
                list-style: none;
            }
        }
    }

    .week-number {
        .base-font();
        text-transform: none;
        color: @ui05;
    }
}

.day-nav {
    display: none;
}

#subscribe {
    margin: 1.777em 0;
    padding-top: 0.75em;
    border-top: 1px solid @ui04;

    span {
        .sans-serif-font();
        font-size: 10px;
        font-size: 0.769rem;
        text-transform: uppercase;

        @media @bp1 {
            float: left;
            padding: 1em 1em 0 0;
        }

        @media @bp2 {
            clear: both;
            padding: 0;
            width: 100%;
            font-size: 12px;
            font-size: 0.75rem;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        .brand-font();
        font-size: 21px;
        font-size: 1.615rem;

        @media @bp2 {
            font-size: 23px;
            font-size: 1.425rem;
        }

        li {
            display: inline;
            margin-right: 1em;

            a {
                border-bottom: 0;

                &:before {
                    color: @ui05;
                    }
                }
            }
        }
}

#maincontent {

    .band-nav {
        background-color: @ui02;
        .brand-font();

        .events-nav {
            padding-bottom: 0.339em;
            border-bottom: 1px solid @ui04;
        }

        ul {
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            font-size: 21px;
            font-size: 1.615rem;

            @media @bp2 {
                font-size: 23px;
                font-size: 1.425rem;
            }

            li {
                display: inline;
                margin-right: 0.451em;
            }
        }

        a {
            border-bottom: 0;
        }

        .wdn-inner-wrapper {
            padding-top: 1em;
            padding-bottom: 0.451em;
        }

        .submit-search {
            @media @bp2 {
                text-align: right;
            }
        }

        #frontend_login {
            text-transform: uppercase;
            margin-right: 1em;
            font-size: 1.4375em;
        }

        #event_search {
            margin: -8px 0 0;
            padding: 0;
            width: 45%;
            display: inline-block;
            vertical-align: middle;
            font-size: 0.75em;

            button {
                font-size: 0.75em;
            }
        }
    }

    .band-results {
        background-color: @ui02;

        .wdn-inner-wrapper {
            padding-top: 1em;
        }

        &.view-unl_ucbcn_frontend_search {

            a.permalink {
                color: @ui09;
            }
        }

        .day-heading,
        .ongoing-heading,
        .upcoming-heading {
            width: 100%;
            margin: 0 0 1rem;
            padding: 1.069em 23px 1em;
            padding: 1.069em 1.425rem 1em;
            .sans-serif-font();
            font-size: 12px;
            font-size: 0.923rem;
            text-transform: uppercase;
            color: #fff;
            background-color: mix(@ui09, @page-background, 95%);

            @media @bp2 {
                padding: 1.069em 30px 1em;
                padding: 1.069em 1.899rem 1em;
                font-size: 13px;
                font-size: 0.802rem;
            }

            a {
                float: right;
                color: #fff;
                margin-left: 0.451em;
            }
        }

        .year-nav {
            text-align: center;
            padding-bottom: 0.75em;

            a {
                .sans-serif-font();
                font-size: 12px;
                font-size: 0.923rem;
                margin-top: 1.333em;

                @media @bp2 {
                    font-size: 13px;
                    font-size: 0.802rem;
                }

                &:first-child {
                    float: left;

                    span[class^='eventicon-'] {
                        &:before {
                            padding-right: 0.254em;
                        }
                    }
                }

                &:last-child {
                    float: right;

                    span[class^='eventicon-'] {
                        &:before {
                            padding-left: 0.254em;
                        }
                    }
                }
            }

            h1 {
                display: inline-block;
                margin-top: 0;
            }
        }

        .vcalendar {
            .vevent {
                margin-bottom: 1em;
                padding: 0 23px 1.777em;
                padding: 0 1.425rem 1.777em;
                border-top: 5px solid @ui05;
                background-color: fadeout(#fff, 33%);
                box-shadow: 0 0 0 1px fadeout(@ui14, 90%);
                transition: all 0.2s ease-out;

                @media @bp2 {
                    padding: 0 30px 2.369em;
                    padding: 0 1.899rem 2.369em;

                }

                &:hover {
                    border-top: 5px solid @scarlet;
                    background-color: #fff;
                    box-shadow: 0 0 1px 1px fadeout(@ui14, 80%);
                }

                h1 {
                    font-size: 30px;
                    font-size: 2.3077rem;

                    @media @bp2 {
                        font-size: 41px;
                        font-size: 2.532rem;
                    }
                }

                h2 {
                    font-size: 28px;
                    font-size: 2.1538rem;

                    @media @bp2 {
                        font-size: 38px;
                        font-size: 2.369rem;
                    }
                }

                .date-wrapper,
                .time-wrapper,
                .location,
                .contact {
                    display: block;
                    .sans-serif-font();
                    font-size: 12px;
                    font-size: 0.75rem;

                    @media @bp2 {
                        font-size: 13px;
                        font-size: 0.802rem;
                    }

                    &:before {
                        color: @ui05;
                    }
                }

                .location div {
                    padding-left: 1.777em;
                }

                .description {
                    margin: 1em 0 0;
                    padding-top: 1em;
                    border-top: 1px solid @ui04;
                }
            }
        }

        .year_main {
            text-align: center;
        }

        .year_cal {

            .wdn-col {
                @media @bp1 {
                    &:nth-child(2n+1) {
                        clear: left;
                    }
                }

                @media @bp2 {
                    &:nth-child(2n+1) {
                        clear: none;
                    }

                    &:nth-child(3n+1) {
                        clear: left;
                    }
                }
            }

            .monthwidget {
                margin-bottom: 1.899em;

                caption {
                    .next, .prev {
                        display: none;
                    }
                }
            }
        }
    }
}
