/**
 * default.css
 * Everything goes in here.
 */
 
 /*--[global attributes]--*/
 *{
 	margin:0;
	padding:0;
 }
 
 a{
 	outline:none;
	color:#d74364;
 }
 
 h1{
	width:362px;
	height:67px;
	background:url(images/title.gif) no-repeat;
	text-indent:-9999px; 	
 }
 
 h2{
 	display:none;
 }
 
 h3{
 	padding:0 0 0 12px;
 	background:url(images/heading.gif) no-repeat 0 2px;
 	font:normal 1.5em Arial, Helvetica, sans-serif;
	color:#333;
}
 
 body{
 	text-align:center;
 	font: 71%/150% "Lucida Grande", Verdana, Arial;
	color:#434343;
 }
 
 
  /*--[skeleton attributes]--*/
   #header{
	width:980px;
	height:101px;
  	background:url(images/head.gif) no-repeat;
	margin:0 auto;
  }
  
  #maintitle{
  	padding:0 0 0 22px;
  }
  
  #container{
  	width:980px;
  	margin:35px auto 0 auto;
	text-align:left;
  }
	    #container:after {
	    content: "."; 
	    display: block; 
	    clear: both; 
	    visibility: hidden;
	 	}
 
  #main_left{
  	float:left;
  	width:673px;
  	margin:44px 0 0 22px;
  	display:inline;
  }
  
  #right_area{
  	float:right;
	width:204px;
	margin:44px 22px 0 0;
	padding:0 0 0 15px;
	background:url(images/dott.png) repeat-y;
	min-height:200px;
  }
  
  /*--[navigation]--*/
  #navigation{
  	float:left;
	width:215px;
  }
  
	  #navigation ul{
		width:200px;
		margin:3px 0;
		padding:5px 0 0 0;
		background:url(images/dott.png) repeat-x;
		list-style:none;
	  }

		   #navigation ul li a{
		    display:block;
			width:190px;
			height:41px;
			text-indent:-9999px;
		   }
		   
		   #navigation ul li#calendar a{background:url(images/nav_calendar.png) no-repeat;}
		   #navigation ul li#create a{background:url(images/nav_create.png) no-repeat;}
		   #navigation ul li#search a{background:url(images/nav_search.png) no-repeat;}
		   #navigation ul li#subscribe a{background:url(images/nav_subscribe.png) no-repeat;}
		   #navigation ul li#import a{background:url(images/nav_import.png) no-repeat;}
		  
		   #navigation ul li#calendar a:hover, #navigation ul li#create a:hover, 
		   #navigation ul li#search a:hover, #navigation ul li#subscribe a:hover, 
		   #navigation ul li#import a:hover, body#create #navigation ul li#create a, 
		   body#search #navigation ul li#search a, body#subscribe #navigation ul li#subscribe a, 
		   body#import #navigation ul li#import a{background-position:0 -41px;}

 /*--[main content area]--*/
  #maincontentarea{
  	clear:right;
  	float:right;
  	width:443px;
	padding:0 15px 0 0;
  }
  
  /*--[right area]--*/
   #account_box{
  	margin:5px 0;
	padding:0 0 28px 0;
	width:178px;
	background:url(images/account_bottom.gif) no-repeat bottom right;
	
  }
 
  #account_box p{
  	padding:6px 8px 0 8px;
  	background:url(images/account_head.gif) no-repeat top left;
  }
 
  #account_box ul{
  	margin:-8px 0;
  	padding:10px 8px;
  	background:url(images/account_middle.gif) repeat-y;
	list-style:none;
  }
 
  p#date{
  	margin:10px 0 0 0;
  	padding:0 0 0 20px;
  	background:url(images/date.gif) no-repeat;
  }