/**
 * default.css
 * Everything goes in here.
 */
#maincontent a{background:none;}
#maincontent a:hover{text-decoration:underline;}
    
    
/* Event list */
table {width:100%;border-collapse:collapse}
table tr:hover, table tr.alt:hover{
	background:#ffffcc;
}
table tr.alt{
	background:#e8f5fa;
	border-top:1px solid #8ebcd6;
	border-bottom:1px solid #8ebcd6;
}
table thead th{
	background:#3e83c9;color:#fff;	
	padding:7px;
	text-align:left;
}
table thead th.date a, table thead th.title a{
	color:#FFFFFF;
	text-decoration:none;
	}
table td{
	padding:7px;}
table td.date{width:20%;}
table td.title{width:80%;}
h2.sec_main{padding: 0 0 12px 12px!important;background-position:0 2px; }

table td.empty{color:#ddd;}
/* Calendar Widget */
table.wp-calendar thead th{
	background:#fff;border-top:1px solid #999;border-bottom:3px double #999; color:#333;
	text-align:left;
}

table.wp-calendar td, table.wp-calendar th{
	text-align:center;
	padding:4px;
}
table.wp-calendar td{
	border:1px solid #ddd;
}
table.wp-calendar td#next{
	background:url(images/calnav.gif) no-repeat;

}
table.wp-calendar td#prev{
 	background:url(images/calnav.gif) no-repeat;
	
}
table.wp-calendar tr:hover{
	background:none;
}
table.wp-calendar td:hover{
	background:#ffffcc;
}
table.wp-calendar td.pad:hover{background:none}

/* month view */
.month_cal table.wp-calendar{margin:0 0 10px 0;}
.month_cal table.wp-calendar td{
	width:90px;
	text-align:left;background:#fafafa;
	
}
.month_cal table.wp-calendar td:hover{background:#ffffcc;}
.month_cal table.wp-calendar td{float:left;overflow:auto;display:block;height:90px;}
.month_cal table.wp-calendar th{text-align:center;width:92px;display:block;float:left;margin-bottom:1px;}
.month_cal table.wp-calendar tr{float:right;font-size:0.8em;}
#maincontent .month_cal ul{padding:0 15px;}

/*caption nav*/
table.wp-calendar caption{margin-left:25px;}
.month_cal table.wp-calendar caption{margin-left:275px;}
table.wp-calendar caption li{height:34px;background:url(images/caption_middle.gif) repeat-x left top;display:block;float:left;}
table.wp-calendar caption li#monthvalue, table.wp-calendar caption li#yearvalue{
margin-top:-2px;padding:6px 3px 0;}
table.wp-calendar caption a{color:#fff;}
table.wp-calendar caption a#prev_month, table.wp-calendar caption a#next_month{text-indent:-9999em;
	display:block;background:#fff url(images/month_prev.gif) no-repeat; width:25px; height:30px;}
table.wp-calendar caption a#next_month{background:url(images/month_next.gif) no-repeat;}
table.wp-calendar caption a#prev_month:hover, table.wp-calendar caption a#next_month:hover{
background-position:0 -34px;
}







