/**
 * default.css
 * Everything goes in here.
 */
#maincontent a{background:none;}
#maincontent a:hover{text-decoration:underline;}
    
/* Event list */


table {clear:both;width:100%;border-collapse:collapse}
table tr:hover, table tr.alt:hover{
	background:#ffffcc;
}
table tr.alt{
	background:#ECF7FD;
}
table thead th{
	background:#3e83c9;
	color:#fff;	
	border-bottom:1px solid #3e83c9;
	padding:7px;
	
}
.day_cal table thead th, .event_cal table thead th{text-align:left!important;}
table thead th.date a, table thead th.title a{
	color:#FFFFFF;
	text-decoration:none;
	}
table td{
	padding:7px;
	border-top:1px solid #8ebcd6;
	}
table td.date{width:20%;}
table td.title{width:80%;}
.three_col h4.sec_main{	 padding: 0 0 15px 30px!important; 
                 background: url(images/date1.gif) no-repeat 0 0;}

table td.empty{color:#ddd;}

/* Calendar Widget */
table.wp-calendar thead th{
	background:#fff;border-top:1px solid #999;border-bottom:3px double #999;color:#333;
	text-align:left;
}

table.wp-calendar td, table.wp-calendar th{
	text-align:center;
	padding:4px;
}
table.wp-calendar td{
	border:1px solid #ddd;
}
table.wp-calendar td.selected{
	background:#ECF7FD;
}
table.wp-calendar td#next{
	background:url(images/calnav.gif) no-repeat;

}
table.wp-calendar td#prev{
 	background:url(images/calnav.gif) no-repeat;
	
}
table.wp-calendar tr:hover{
	background:none;
}
table.wp-calendar td:hover{
	background:#ffffcc;
}
table.wp-calendar td.pad:hover{background:none}

/*caption nav*/
table.wp-calendar caption{position:absolute;top:0;left:0;margin:-38px 0 0 0}
table.wp-calendar caption span{display:block;height:31px;background:url(images/monthviewnav_mid.gif) repeat-x 0 0;float:left;}
table.wp-calendar caption span#monthvalue, table.wp-calendar caption span#yearvalue{
margin-top:0;padding:8px 3px 0;}
table.wp-calendar caption a{margin-bottom:5px;color:#fff;}
table.wp-calendar caption a:hover{color:#fff;}
table.wp-calendar caption a#prev_month, table.wp-calendar caption a#next_month{text-indent:-9999em;
	display:block;background:#fff url(images/monthviewnav_prev.gif) no-repeat; width:22px; height:31px;}
table.wp-calendar caption a#next_month{background:url(images/monthviewnav_next.gif) no-repeat;}
table.wp-calendar caption a#prev_month:hover, table.wp-calendar caption a#next_month:hover{
background-position:0 -45px;
}

/* event view*/

.event_cal h1.title{padding: 7px 0 10px 37px!important; 
                 background: url(images/event_one.gif) no-repeat 0 0;}

.event_cal table{width:auto;border:1px solid #8ebcd6;border-top:none;border-right:1px solid #4081a6;border-bottom:1px solid #4081a6;}
.event_cal table td.date, .event_cal table td.title{width:auto;}
.event_cal table td.date{color:#cc0000;}
.event_cal table thead{display:none;}

/*- Menu Tabs G--------------------------- */

    #tabsG {
      float:left;
      width:auto;
      font-size:93%;
      line-height:normal;
      }
    #tabsG ul {
	margin:0;
	padding:10px 10px 0 5px;
	list-style:none;
      }
    #tabsG li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsG a {
      float:left;
      background:url(images/tableftG.gif) no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
   #tabsG a span {
      float:left;
      display:block;
      background:url(images/tabrightG.gif) no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsG a span {float:none;cursor:text;}
    /* End IE5-Mac hack */
    #tabsG a:hover {
      color:#FFF!important;
      }
    #tabsG a:hover, #tabsG a#event_selected {
      background-position:0% -42px;
      }
    #tabsG a:hover span, #tabsG a#event_selected span {
      background-position:100% -42px;
      } 

/* day view*/
.col{margin-top:48px;}

/* month view */
.month_cal {margin-top:70px;}
.month_cal table.wp-calendar{margin:0 0 20px 0;}
.month_cal table.wp-calendar td{
	width:124px;
	text-align:left;
	background:#f3f3f3;
	vertical-align:top;
	float:left;
	overflow:auto;
	display:block;
	height:124px;
	}
#maincontent .month_cal table.wp-calendar td a{border:1px solid #ccc;padding:0 4px;float:left;margin:-5px 0 0 -6px}	
#maincontent .month_cal table.wp-calendar td a:hover{background:#ccc;border:1px solid #999;}
#maincontent .month_cal table.wp-calendar td a:active{color:#333;}
#maincontent .month_cal table.wp-calendar td ul{clear:both;padding-top:4px;}
#maincontent .month_cal table.wp-calendar td ul a{border:none;padding:0;margin:0;float:none;}
#maincontent .month_cal table.wp-calendar td ul a:hover{background:none;border:none;}
.month_cal table.wp-calendar td.empty{background:#fff;}
#maincontent .month_cal table.wp-calendar td ul li{line-height:1.2;padding:0 0 4px 0;}
.month_cal table.wp-calendar td:hover{background:#ffffcc;}
.month_cal table.wp-calendar th{font-size:1.15em;text-align:center;width:126px;display:block;float:left;margin-bottom:1px;}
.month_cal table.wp-calendar tr{float:right;font-size:0.8em;}
#maincontent .month_cal ul{padding:0 15px;}
.month_cal table.wp-calendar caption{margin:33px 0 0 10px}



ul#frontend_view_selector{position:relative;width:927px;float:right;padding:0 10px 0 0;margin:0;border-bottom:1px solid #999;}
ul#frontend_view_selector li{background:#eee;display:block;float:left;margin:0 0 -1px 4px;border: 1px solid #999; padding:4px;}

ul#frontend_view_selector.month li#monthview, ul#frontend_view_selector.day li#todayview, ul#frontend_view_selector.year li#yearview{position:relative;background:#fff;border-bottom:1px solid #fff;}

/*year view*/
.year_cal table.wp-calendar{margin:0 0 15px 0;}

.year_cal table.wp-calendar caption span{padding:0;margin:0;height:auto;background:none;float:none;display:inline;}
.year_cal table.wp-calendar caption span#monthvalue{margin:0;padding:0 0 0 15px;background:url(images/year_box.gif) no-repeat 0 1px;}
.year_cal table.wp-calendar caption {text-align:left;padding:0 0 2px 0;position:relative;margin:0;}
.year_cal table.wp-calendar caption a#prev_month, .year_cal table.wp-calendar caption a#next_month{display:none}
.year_cal table.wp-calendar caption a{color:#333;}
.year_cal table.wp-calendar caption a:hover{color:#cc0000;}

.year_cal table td{border:none;}
.year_cal table.wp-calendar td{border:1px solid #ddd;}
.year_cal table tr{vertical-align:top}
.year_cal table tr:hover{
	background:none;
}
h1.year_main{	padding: 4px 0 10px 30px!important; margin:40px 0 10px;
                 background: url(images/date1.gif) no-repeat 0 0;}

/*search view*/
#event_search {
	position:absolute;
	top:0px;
	right:0px;
	width:280px;
	}

#maincontent h1.results {
	margin:2em 0 0.5em 0;
	}

/*overwrite UNL template to expand to full width */
#navigation{display:none;}
#container div.clear .mainwrapper, #container div.clear .altwrapper {
			width: 960px;}
#maincontent .two_col {
				clear:both;
				width:690px;
				padding:15px 10px 0 0;
				}

.three_col{width:700px;margin-top:13px;}

/* recently updated calendars */
div.recentcals{
	background:url(images/recent_bot.gif) no-repeat left bottom;
	width:222px;
	padding:0 0 10px 0;
	
}
#maincontent h3.recentcals{
	font-size:0.8em;position:relative;
	margin:10px 0 0 0;
	padding:8px 0 5px 12px;
	background:url(images/recent.gif) no-repeat left top;
	width:222px;
	height:15px;
}
#maincontent ul.recentcals{
	list-style:none;
	padding:21px 0 10px 14px;
	margin:-14px 0 0 0;
	background:url(images/recent_mid.gif) repeat-y right top;
}
#maincontent ul.recentcals li{background:url(images/widget_list.gif) no-repeat 0 5px;padding:0 0 0 15px;height:1%;margin-right:7px;position:relative;}
#maincontent ul.recentcals li:hover{background:url(images/widget_list_hover.gif) no-repeat 0 5px;}
/* IE */
* html .day_cal, * html .three_col h1{margin-top:45px;}
* html .three_col{margin:-30px 0 10px 0;}
* html .three_col table td{padding:7px!important;}

* html .col{margin-top:10px;}

* html table.wp-calendar caption{position:absolute;}
* html table.wp-calendar caption ul{position:relative;margin:0 0 0 -30px;}
* html table.wp-calendar caption span#monthvalue, * html table.wp-calendar caption span#yearvalue{padding:6px 3px 0;}
* html .year_cal table.wp-calendar caption ul{margin:0;}

* html #maincontent h3.recentcals{padding:6px 0 5px 12px}
* html .month_cal {margin-top:7px;}